@using Sediin.Core.TemplateConfiguration
@using Sediin.Core.TemplateConfiguration.Models
@inject ISediinCoreConfiguration Configuration
@{
    RagioneSociale ragioneSociale = Configuration.Get().Result.RagioneSociale;
}

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

    </title>

    <script type="importmap"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/bootstrap.custom.css" rel="stylesheet" />
    <link href="~/css/backend.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>

<body>

    <div class="row">
        <div class="col-md-12">
            <img src="cid:logo_cid" alt="Logo" />
        </div>
    </div>

    <br />
    <hr />
    <br />
    <br />

    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>

    <br />
    <br />
    <br />
    <p style="" margin-top:30px; font-size:0.9em; color:#666;"">
        <em>Nota: questa email è stata inviata automaticamente dal sistema, ti preghiamo di non rispondere.</em>
    </p>
    <br />
    <hr />
    <br />

    <div class="row">
        <strong>@ragioneSociale.Nome</strong><br />
        Piva: @ragioneSociale.PartitaIva - Cf: @ragioneSociale.CodiceFiscale<br />
        Tel: @ragioneSociale.Telefono - Email: @ragioneSociale.Email<br />
        @ragioneSociale.Indirizzo - @ragioneSociale.Cap @ragioneSociale.Citta @ragioneSociale.Provincia
    </div>


</body>
</html>

