@model Sediin.Core.TemplateConfiguration.Models.EmailSettings
@using Sediin.Core.Mvc.Helpers.TagHelpers
@addTagHelper *, Sediin.Core.Mvc.Helpers

<ricerca-modulo header-text="Email Settings"></ricerca-modulo>

<ajax-form asp-action="EmailSettings"
           asp-controller="Configuration"
           on-begin="alertWaid()"
           on-success="toastSuccess(data); alertClose();"
           on-failure="handleError">

    <div class="form-horizontal row mt-4">

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FromName)
            @Html.TextBoxFor(model => model.FromName)
            @Html.ValidationMessageFor(model => model.FromName)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FromEmail)
            @Html.TextBoxFor(model => model.FromEmail)
            @Html.ValidationMessageFor(model => model.FromEmail)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SmtpServer)
            @Html.TextBoxFor(model => model.SmtpServer)
            @Html.ValidationMessageFor(model => model.SmtpServer)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SmtpPort)
            @Html.TextBoxFor(model => model.SmtpPort)
            @Html.ValidationMessageFor(model => model.SmtpPort)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SmtpUsername)
            @Html.TextBoxFor(model => model.SmtpUsername)
            @Html.ValidationMessageFor(model => model.SmtpUsername)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SmtpPassword)
            @Html.TextBoxFor(model => model.SmtpPassword)
            @Html.ValidationMessageFor(model => model.SmtpPassword)
        </div>

        <div class="col-md-6">
            <div class="form-check form-switch">
                @Html.CheckBoxFor(model => model.SmtpServerAutentication, new { @class = "form-check-input" })
                <label class="form-check-label fw-bold ml-2" for="SmtpServerAutentication">Smtp Server authentication</label>
            </div>
            @Html.ValidationMessageFor(model => model.SmtpServerAutentication)
        </div>

        <div class="col-md-6">
            <div class="form-check form-switch">
                @Html.CheckBoxFor(model => model.SmtpServerUseSSL, new { @class = "form-check-input" })
                <label class="form-check-label fw-bold ml-2" for="SmtpServerUseSSL">Smtp Server use SSL</label>
            </div>
            @Html.ValidationMessageFor(model => model.SmtpServerUseSSL)
        </div>

    </div>

    <hr />

    <div class="text-center" style="margin-top:40px">
        <button type="submit" class="btn btn-info w-25">Aggiorna</button>
        <button type="reset" class="btn btn-danger w-25">Reimposta</button>
    </div>

</ajax-form>

