@model Sediin.Core.WebUi.Models.RegisterViewModel

<ajax-form asp-action="Register" asp-controller="Authentication"
           on-begin="alertWaid()"
           on-success="onRegisterSuccess"
           on-failure="handleError">

    <div class="form-horizontal row mt-4">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="col-md-6">
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Cognome)
            @Html.TextBoxFor(model => model.Cognome)
            @Html.ValidationMessageFor(model => model.Cognome)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.ConfirmEmail)
            @Html.TextBoxFor(model => model.ConfirmEmail)
            @Html.ValidationMessageFor(model => model.ConfirmEmail)
        </div>
    </div>

    <div class="modal-footer" style="margin-top:40px">
        <button type="submit" class="btn btn-info">Registrati</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="hideModal()">Chiudi la finestra</button>
    </div>

</ajax-form>

@{
    Html.RenderPartial("_ValidationScriptsPartial");
}

<script>
    function onRegisterSuccess(data) {
        if (data.success) {
            hideModal();
            alertSuccess(data.message);
        }
    }
</script>
