@model Sediin.Core.WebUi.Models.ResetPasswordViewModel

<link href="~/css/hideshowpassword.css" rel="stylesheet" />

<div class="reset-container">
    <div class="reset-box">
        <div class="text-center mb-4">
            <img src="~/images/logo.png" alt="Logo" style="max-width: 180px;" />
        </div>

        <h4 class="card-title text-center mb-3">
            <i class="fa fa-passport me-2"></i> Reimposta la password
        </h4>

        <ajax-form asp-action="ResetPassword"
                   asp-controller="Authentication"
                   on-begin="alertWaid()"
                   on-success="onSuccessResetPassword(data)"
                   on-failure="handleError">

            @Html.HiddenFor(model => model.Code)

            <div class="form-group">
                @Html.LabelFor(model => model.Username)
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-info btn-sm">Reimposta password</button>
            </div>

            <div class="text-center mt-4">
                <i class="fa fa-user-lock me-1"></i>
                @Html.ActionLink("Ricordi la tua password? Esegui login", "Login", "Authentication", null, new { @class = "" })
            </div>
        </ajax-form>
    </div>
</div>

@section Scripts {
    <script src="~/js/hideshowpassword.js"></script>

    <script>
        $(document).ready(function () {
            $('#Password').hideShowPassword({
                innerToggle: true
            });
            $('#ConfirmPassword').hideShowPassword({
                innerToggle: true
            });
        });

        function onSuccessResetPassword(data) {
            alertSuccessNoCloseButton(data);

            setTimeout(function () {
                location.href = "/Authentication/Login";
            }, 2000)
        }
    </script>
}
