@model Sediin.Core.WebUi.Models.ResetPasswordViewModel

<div class="reset-container">
    <div class="reset-box">
        <div class="text-center mb-4">
            <img src="~/images/logo.png" alt="Logo" style="max-width: 180px;" />
        </div>

        <h4 class="card-title text-center mb-3">
            <i class="fa fa-passport me-2"></i> Reimposta la password
        </h4>

        <ajax-form asp-action="ResetPassword"
                   asp-controller="Authentication"
                   on-begin="alertWaid()"
                   on-success="onSuccessResetPassword(data)"
                   on-failure="handleError">

            @Html.HiddenFor(model => model.Code)

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Nuova password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Conferma password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-info btn-sm">Reimposta password</button>
            </div>

            <div class="text-center mt-4">
                <i class="fa fa-user-lock me-1"></i>
                @Html.ActionLink("Ricordi la tua password? Esegui login", "Login", "Authentication", null, new { @class = "link-secondary text-decoration-underline" })
            </div>
        </ajax-form>
    </div>
</div>

<script>
    function onSuccessResetPassword(data) {
        alertSuccessNoCloseButton(data);

        setTimeout(function () {
            location.href = "/Authentication/Login";
        }, 2000)
    }
</script>
