@inject IConfiguration Configuration
@inject IUnitOfWorkIdentity UnitOfWorkIdentity
@model IEnumerable<Sediin.Core.DataAccess.Entities.Menu>
@using Microsoft.AspNetCore.Html
@using Sediin.Core.Identity.Abstract
@using Sediin.Core.Identity.Repository

@functions
{

    public IHtmlContent getUrl(object action, object controller, object area)
    {
        if (action != null && controller != null)
        {
            var _action = Url.Action(action.ToString(), controller.ToString(), new { area = area });
            return new HtmlString(" data-ajax='true' href='" + _action + "' onclick='loadContent(\"" + _action + "\")'");
        }

        return new HtmlString(" href=\"javascript:void(0)\"");
    }

    public string GetSubMenu(int padre)
    {
        var _out = "";

        foreach (var figlio in Model.ToList().Where(x => x.CodmenuPadre == padre).ToList().OrderBy(o => o.Ordine))
        {
            var _submenu = Model.ToList().Where(x => x.CodmenuPadre == figlio.Codmenu);

            if (_submenu.Count() == 0)
            {
                _out += "<li><a class=\"dropdown-item\" " + getUrl(figlio.Action, figlio.Controller, figlio.Area) + "><i class=\"" + figlio.IconFa + " marginMenuIcon\"></i>" + figlio.Descrizione + "</a></li>";
            }

            if (_submenu.Count() > 0)
            {
                _out += "<li><a class=\"dropdown-item\" " + getUrl(figlio.Action, figlio.Controller, figlio.Area) + "><i class=\"" + figlio.IconFa + " marginMenuIcon\"></i>" + figlio.Descrizione + " »</a>";

                _out += "<ul class=\"submenu dropdown-menu\">";

                foreach (var item in _submenu.OrderBy(o => o.Ordine))
                {
                    var _subsubmenu = Model.ToList().Where(x => x.CodmenuPadre == item.Codmenu);

                    if (_subsubmenu.Count() == 0)
                    {
                        _out += "<li><a class=\"dropdown-item\" " + getUrl(item.Action, item.Controller, item.Area) + "><i class=\"" + figlio.IconFa + " marginMenuIcon\"></i>" + item.Descrizione + "</a></li>";
                    }
                    else
                    {
                        _out += "<li><a class=\"dropdown-item\" " + getUrl(item.Action, item.Controller, item.Area) + "><i class=\"" + figlio.IconFa + " marginMenuIcon\"></i>" + item.Descrizione + " »</a>";
                        _out += "<ul class=\"submenu dropdown-menu\">" + GetSubMenu(item.Codmenu) + "</ul>";
                        _out += "</li>";
                    }
                }

                _out += "</ul>";
            }
        }

        return _out;
    }

}

@{

    var _voci = Model;

    <nav class="navbar navbar-expand-md navbar-custom d-sm-block d-md-none shadow">
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarBackend"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarBackend">

            <ul class="navbar-nav">

                @if (_voci != null)
                {
                    foreach (var item in _voci.Where(x => x.CodmenuPadre == 1))
                    {
                        var _subvoci = _voci.Where(x => x.CodmenuPadre == item.Codmenu);

                        if (_subvoci.Count() == 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:white" @getUrl(item.Action, item.Controller, item.Area)>
                                    <i class="@item.IconFa marginMenuIcon"></i> @item.Descrizione
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color:white">
                                    <i class="@item.IconFa marginMenuIcon"></i> @item.Descrizione
                                </a>
                                <ul class="dropdown-menu">
                                    @Html.Raw(GetSubMenu(item.Codmenu))
                                </ul>
                            </li>
                        }
                    }
                }

                <li>
                    @*<a class="nav-link" href="@Html.GetConfiguration().RagioneSociale.SitoWeb" target="_blank" style="color:white">*@
                    <i class="fas fa-home marginMenuIcon"></i>
                    @*Sito @Html.GetConfiguration().RagioneSociale.NomeCordo*@
                    @*</a>*@
                </li>

            </ul>

            <ul class="navbar-nav">


                <li>
                    <a class="nav-link"
                       href="@Url.Action("ModificaPassword", "Utenti", new { area = "Admin" })"
                       data-ajax="true"
                       data-ajax-begin="alertWaid()"
                       data-ajax-failure="handleError"
                       data-ajax-success="showModal_NoFooter('Modifica Password',data); alertClose()">
                        <i class="fas fa-key marginMenuIcon"></i>
                        Modifica Password
                    </a>
                    <a class="nav-link" href="@Url.Action("LogOff", "Authentication", new { area = "" })">
                        <i class="fas fa-sign-out-alt marginMenuIcon"></i>
                        Esci
                    </a>

                </li>


            </ul>

        </div>
    </nav>


    <nav class="navbar navbar-expand-md navbar-custom d-none d-md-block d-lg-block shadow">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" href="javascript:void(0)" id="sidebarCollapse" style="color:white;">
                        <i class="fas fa-sliders-h marginMenuIcon"></i>
                        <span id="sidebarCollapseText">Chiudi menu</span>
                    </a>

                </li>

                <li>
                    @*<a class="nav-link" href="@Html.GetConfiguration().RagioneSociale.SitoWeb" target="_blank" style="color:white">
                        <i class="fas fa-home marginMenuIcon"></i>
                        Sito @Html.GetConfiguration().RagioneSociale.NomeCordo
                    </a>*@
                </li>

            </ul>
            <ul class="navbar-nav ms-auto mr-2">
                <li class="nav-item dropdown dropstart">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                        @{
                            var _user = UnitOfWorkIdentity.AuthService.GetUserByUsername(User.Identity.Name).Result;
                        }
                        <span style="-webkit-text-stroke-width: 1px;" class="navtestobenvenuto">Benvenuto</span>&nbsp;

                        <span class="text-capitalize">
                            <span>@_user.Nome @_user.Cognome</span>
                        </span>
                        <div style="font-size: 12px; text-align: right; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: red; " class="text-info">altre opzioni</div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-gray" data-bs-theme="dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item"
                               href="@Url.Action("ChangePassword", "Utenti", new { area = "Administrator" })"
                               data-ajax="true"
                               data-ajax-begin="alertWaid()"
                               data-ajax-failure="handleError"
                               data-ajax-success="showModal_NoFooter('Modifica Password',data); alertClose()">Modifica Password</a>
                        </li>
                        <li><a class="dropdown-item" href="@Url.Action("LogOff", "Authentication", new { area = "" })">Esci</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>


}

