@model Sediin.Core.WebUi.Areas.Administrator.Models.ChangePasswordModel

<ajax-form asp-action="ChangePassword"
           asp-controller="Utenti"
           on-begin="onBeginChangePassword"
           on-success="hideModal(); alertSuccess(data);"
           on-failure="handleError">

    <div class="form-horizontal row">

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.OldPassword)
            @Html.PasswordFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
        <div class="form-group col-md-6">
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.NewPassword)
            @Html.PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ConfirmNewPassword)
            @Html.PasswordFor(model => model.ConfirmNewPassword)
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>

        <div class="modal-footer row mt-5">
            <div class="col-md-12 text-center">
                <input type="submit" value="Modifica Password" class="btn btn-info" />
                <input type="button" value="Chiudi finestra" onclick="hideModal()" class="btn btn-danger" />
            </div>
        </div>
    </div>
</ajax-form>

@{
    Html.RenderPartial("_ValidationScriptsPartial");
}

<script>
    $("#OldPassword").on("focus", function () { $(this).attr("type", "password") });
    $("#NewPassword").on("focus", function () { $(this).attr("type", "password") });
    $("#ConfirmNewPassword").on("focus", function () { $(this).attr("type", "password") });

    function onBeginChangePassword() {
        if ($("#OldPassword").val() == $("#NewPassword").val()) {
            alertInfo("la password nuova deve essere diversa dalla attuale password");
            return false;
        }

        alertWaid();
    }
</script>
