@model Sediin.Core.Identity.Entities.DTO.SediinIdentityUser_DTO

<ajax-form asp-action="ModificaUtente"
           asp-controller="Utenti"
           on-begin="alertWaid()"
           on-success="hideModal(); toastSuccess(data); updateListRicerca()"
           on-failure="handleError">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-horizontal row mt-4">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Username)
            <div>@Model.Username</div>

        </div>

        <div class="col-md-6">
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Cognome)
            @Html.TextBoxFor(model => model.Cognome)
            @Html.ValidationMessageFor(model => model.Cognome)
        </div>
        <div class="col-md-6 form-group">

            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="col-md-6 form-group">

            @Html.Label("Conferma Email")
            @Html.TextBoxFor(model => model.ConfirmEmail)
            @Html.ValidationMessageFor(model => model.ConfirmEmail)
            </>


        </div>
    </div>

    <div class="modal-footer" style="margin-top:40px">
        <button type="submit" class="btn btn-info">Aggiorna</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="hideModal()">Chiudi la finestra</button>

    </div>
</ajax-form>


@{
    Html.RenderPartial("_ValidationScriptsPartial");
}

