@model Sediin.Core.WebUi.Areas.Administrator.Models.UtentiVM
@using Sediin.Core.Mvc.Helpers.TagHelpers
@addTagHelper *, Sediin.Core.Mvc.Helpers


@if (Model.TotalRecords == 0)
{
    <div class="alert alert-warning">Nessun record trovato</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="text-center table-info">
                    <th>Nominativo</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Ruolo</th>
                    <th style="width:100px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Result)
                {
                    <tr>
                        <td>@item.User.Nome @item.User.Cognome</td>
                        <td>@item.User.UserName</td>
                        <td>@item.User.Email</td>
                        <td>@item.Roles.FirstOrDefault()</td>
                        <td>

                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle w-100" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Azioni
                                </button>
                                <ul class="dropdown-menu">
                                    <li>

                                        <a class="dropdown-item"
                                           asp-controller="Utenti"
                                           asp-action="ModificaUtente"
                                           asp-route-id="@item.User.Id"
                                           asp-ajax="true"
                                           asp-ajax-begin="alertWaid()"
                                           asp-ajax-failure="handleError"
                                           asp-ajax-success="showModal_NoFooter('Modifica utente', data); alertClose()">
                                            Modifica utente
                                        </a>

                                    </li>

                                    @if (User.Identity.Name != item.User.UserName)
                                    {
                                        <li>
                                            <a href="javascript:void(0)" onclick="eliminaUtente('@item.User.Id')"
                                               class="dropdown-item">Elimina utente</a>

                                        </li>

                                        @if (item.User.LockoutEnabled == true && item.User.LockoutEnd == DateTimeOffset.MaxValue)
                                        {
                                            <li>
                                                <a href="javascript:void(0)" onclick="sbloccaUtente('@item.User.Id')"
                                                   class="dropdown-item">Sblocca utente</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="javascript:void(0)" onclick="bloccaUtente('@item.User.Id')"
                                                   class="dropdown-item">Blocca utente</a>
                                            </li>
                                        }

                                    }

                                </ul>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        function eliminaUtente(id) {
            confirmAndPostAction("@Url.Action("EliminaUtente", "Utenti")", { id }, "Sicuro di voler \"eliminare\" questa utenza?");
        }
        function bloccaUtente(id) {
            confirmAndPostAction("@Url.Action("BloccaUtente", "Utenti")", { id }, "Sicuro di voler \"bloccare\" questa utenza?");
        }
        function sbloccaUtente(id) {
            confirmAndPostAction("@Url.Action("SbloccaUtente", "Utenti")", { id }, "Sicuro di voler \"sbloccare\" questa utenza?");
        }

    </script>

    <paging-ajax page-size="@Model.PageSize"
                 page-index="@Model.CurrentPage"
                 total-rows="@Model.TotalRecords"
                 action="@Url.Action("Ricerca", "Utenti")"
                 action-export="@Url.Action("RicercaExcel", "Utenti")"
                 query-model="@Model.Filtri"
                 update-target-id="resultRicerca"
                 http-method="Post">
    </paging-ajax>


}
