@model Sediin.Core.Identity.Models.UtentiRicercaVM

<div class="form-horizontal">

    <div class="row">
        <div class="col-md-6 form-group">
            @Html.Label("Username")
            @Html.TextBoxFor(model => model.UtentiRicercaVM_Username)
            @Html.ValidationMessageFor(model => model.UtentiRicercaVM_Username)
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Email")
            @Html.TextBoxFor(model => model.UtentiRicercaVM_Email)
            @Html.ValidationMessageFor(model => model.UtentiRicercaVM_Email)
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Nome")
            @Html.TextBoxFor(model => model.UtentiRicercaVM_Nome)
            @Html.ValidationMessageFor(model => model.UtentiRicercaVM_Nome)
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Cognome")
            @Html.TextBoxFor(model => model.UtentiRicercaVM_Cognome)
            @Html.ValidationMessageFor(model => model.UtentiRicercaVM_Cognome)
        </div>
    </div>
</div>

